<div fxLayout="column wrap" fxLayoutAlign="space-around center">

<div>
    <h1>Bienvenido</h1>
</div>
<div>
    <h3>De forma temporal nuestra opcion de pago es por transferencia.</h3>
</div>
<div>
    <h1>Banco Industrial</h1>
</div>

</div>
<address>
    <div fxLayout="column wrap" fxLayoutAlign="space-around center">
    <div>
        <h2>Cuenta Monetaria: 555-001776-7</h2>
    </div>
    <div>

        <h2>A nombre de: CESEONLINE, SA</h2>
    </div>
    <div>

        <h2>Escríbenos un correo a info@ceseonline.com.gt<br></h2>

    </div>
    <div>
            <h1><a
                href="mailto:info@ceseonline.com.gt?subject=Activación%20Usuario&body=Empresa: %20 Usuario: %20">Enviar</a>
        <br>
    </h1>
    
    </div>
    <div>

        <h4>Con el siguiente formato</h4><br>
    </div>
    <div>

        <h4>Empresa: </h4><br>
    </div>
    <div>

        <h4>Usuario:</h4><br>
    </div>
    <div>

        <h4>Adjunta copia del comprobante de la transferencia.</h4>
    </div>
    <div>

        <h4>Después de recibido el correo, te enviaremos tu factura.<br></h4>
    </div>
    </div>
</address>