<div fxLayout="column wrap" fxLayoutAlign="space-around center" >
    <div><span>Política de privacidad de CESEONLINE, SA</span></div>
    <br />
    <div><span>&nbsp; &nbsp; Esta Política de privacidad describe cómo se recopila, utiliza su información personal cuando visita logfel.ceseonline.com.gt (denominado en lo sucesivo el “Sitio”).</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; INFORMACIÓN PERSONAL QUE RECOPILAMOS</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; Cuando visita el Sitio, recopilamos automáticamente y durante el proceso de personalización del documento algunos de los datos de su almacenamiento local que están en su dispositivo.</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; Recopilamos Información del dispositivo mediante el uso de las siguientes tecnologías:</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; ALMACENAMIENTO LOCAL </span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; TOKEN:</span></div>
    <div><span>&nbsp; &nbsp; Nos permite poder enviar consultas para la ejecución de la Aplicación. </span></div>
    <div><span>&nbsp; &nbsp; USUER-ID:</span></div>
    <div><span>&nbsp; &nbsp; Nos permite identificarlo dentro de la aplicación para enviar consultas. </span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; &iquest;C&Oacute;MO UTILIZAMOS SU INFORMACI&Oacute;N PERSONAL?</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; Durante el uso de la aplicaci&oacute;n utilizamos su informaci&oacute;n personal para la personalizaci&oacute;n del documento. </span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; COMPARTIR SU INFORMACI&Oacute;N PERSONAL</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; No compartimos su Informaci&oacute;n personal con terceros. </span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; NO RASTREAR</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; Tenga en cuenta que no alteramos las pr&aacute;cticas de recopilaci&oacute;n y uso de datos de nuestro Sitio cuando vemos una se&ntilde;al de No rastrear desde su navegador.</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; RETENCI&Oacute;N DE DATOS</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; Cuando personaliza su documento a trav&eacute;s del Sitio, mantendremos su Informaci&oacute;n del documento para nuestros registros por un lapso no mayor de 31 d&iacute;as h&aacute;biles o hasta que nos pida que eliminemos esta informaci&oacute;n.</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; MENORES</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; El sitio no est&aacute; destinado a personas menores de 18 a&ntilde;os.</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; CAMBIOS</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; Podemos actualizar esta pol&iacute;tica de privacidad peri&oacute;dicamente para reflejar, por ejemplo, cambios en nuestras pr&aacute;cticas o por otros motivos operativos, legales o reglamentarios.</span></div>
    <div><span>&nbsp; &nbsp; CONT&Aacute;CTENOS</span></div>
    <div><span>&nbsp; &nbsp; </span></div>
    <div><span>&nbsp; &nbsp; Para obtener m&aacute;s informaci&oacute;n sobre nuestras pr&aacute;cticas de privacidad, si tiene alguna pregunta o si desea presentar una queja, cont&aacute;ctenos por correo electr&oacute;nico a info@ceseonline.com.gt</span></div>
  
    </div>
